body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-column {
    width: 30%;
    padding-right: 20px;
    border-right: 2px solid #ccc;
}

.right-column {
    width: 70%;
    padding-left: 20px;
}

h2 {
    color: #000000;
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
}

h3 {
    color: #333;
}

h4 {
    color: #2d658a;
    margin-top: 0px;
    font-size:  large;
}

p {
    margin: 10px 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%;
    }
    .left-column, .right-column {
        width: 100%;
        padding: 0;
        border: none;
    }
}
